extends layout
block content
    h1= title
    form(method="post" action="/")
        input(name="userName" placeholder="Add username")
        input(name="passWord" placeholder="Add password")
        input(type="submit")

        p
        p Brug username : Lars og password : test